[Unit]
Description=Run ansible-pull to apply system configuration  # Human-readable description of the service
After=network-online.target                                 # Start only after network is online
Wants=network-online.target                                 # Ensure network-online.target is started (dependency)

[Service]
Type=oneshot                                                # Run the service once and exit (not a daemon)
User=ansibot                                                # Run as the 'ansibot' system user
Group=ansibot                                               # Run with primary group 'ansibot' (safer than root)
ExecStart=/usr/bin/ansible-pull \                           # Main command to run ansible-pull
  -U https://github.com/temhr/ansilab.git \                 # URL of Git repository to pull from
  -C main \                                                 # Branch to checkout (main)
  -d /var/lib/ansibot \                                     # Directory to clone repo and execute playbooks
  -i localhost, \                                           # Inline inventory: target only localhost
  local.yml                                                 # Playbook file to execute
WorkingDirectory=/var/lib/ansibot                           # Set working directory for the process
