[Unit]
Description=Run ansible-pull every 30 minutes
Requires=ansible-pull.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=false

[Install]
WantedBy=timers.target
